<div class="pages">
    <div class="page">
        <div class="bg-white">
            <div class="content-block-title col-20 channel-title">排序榜</div>
            <div class="content-block-title col-20 channel-title">按类型</div>
            <div class="content-block">
                <div class="row">
                    <div class="col-20"><a href="#" class="button channel"><b>全部</b></a></div>
                    <div class="col-20"><a href="#" class="button channel">爱情</a></div>
                    <div class="col-20"><a href="#" class="button channel">喜剧</a></div>
                    <div class="col-20"><a href="#" class="button channel">科幻</a></div>
                    <div class="col-20"><a href="#" class="button channel">动画</a></div>
                </div>
                <div class="row">
                    <div class="col-20"><a href="#" class="button channel">动作</a></div>
                    <div class="col-20"><a href="#" class="button channel">犯罪</a></div>
                    <div class="col-20"><a href="#" class="button channel">悬疑</a></div>
                    <div class="col-20"><a href="#" class="button channel">剧情</a></div>
                    <div class="col-20"><a href="#" class="button channel">玄幻</a></div>
                </div>
            </div>


            <div class="content-block">
                <div class="row">
                    <div class="col-20"><a href="#" class="button channel"><b>全部</b></a></div>
                    <div class="col-20"><a href="#" class="button channel">中国大陆</a></div>
                    <div class="col-20"><a href="#" class="button channel">香港</a></div>
                    <div class="col-20"><a href="#" class="button channel">台湾</a></div>
                    <div class="col-20"><a href="#" class="button channel">韩国</a></div>
                </div>
            </div>

        </div>


        <div class="content-block">
            <div class="content-block-inner bg-white">
                <div data-space-between="2" data-slides-per-view="3"
                     class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide ">
                            <a href="page-album.html?album={{album_id}}" class="item-link">
                                <img src="img/i-f7-ios.png" class="lazy lazy-fadein ks-demo-movie-poster">
                                <div class="ks-demo-movie-block-inner">
                                    <div class="ks-demo-movie-title">{{this.album_name}}</div>
                                </div>
                            </a>
                         </div>

                        <div class="swiper-slide ">
                            <a href="page-album.html?album={{album_id}}" class="item-link">
                                <img src="img/i-f7-ios.png" class="lazy lazy-fadein ks-demo-movie-poster">
                                <div class="ks-demo-movie-block-inner">
                                    <div class="ks-demo-movie-title">帝国的毁灭</div>
                                </div>
                            </a>
                        </div>

                        <div class="swiper-slide ">
                            <a href="page-album.html?album={{album_id}}" class="item-link">
                                <img src="img/i-f7-ios.png" class="lazy lazy-fadein ks-demo-movie-poster">
                                <div class="ks-demo-movie-block-inner">
                                    <div class="ks-demo-movie-title">帝国的毁灭</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

