<div class="pages">
	<div data-page="cinema" class="page">
		<!-- Search bar -->
		<form class="searchbar" data-search-list=".contacts-list" data-search-in=".item-title">
			<div >
				<p><a href="#" class="button" style="margin-right:10px;background-color:white;border-color:white">上海 <i class="icon icon-chevron_down"></i></a></p>
			</div>
			<div class="searchbar-input">
				<input type="search" placeholder="搜索影吧">
				<a href="#" class="searchbar-clear"></a>
			</div>
			<a href="#" class="searchbar-cancel" style="margin-right: -52.925px;">Cancel</a>
		</form>

		<div class="page-content">
			<div class="list-block media-list searchbar-found">
				<div class="list-group cinema-group">
					<ul>
						<li >
							<a href="#">
								<div class="item-content">
									<div class="item-media radius"><img src="img/i-f7-material.png" width="77"></div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">马里奥电影</div>
										</div>
										<div class="item-subtitle">
											<div class="row">
												<div class="item-text">上海浦东新区大同慈...</div>
												<div class="item-after">6.83km</div>
											</div>
										</div>

									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="content-block searchbar-not-found" style="display: none;">
				Nothing found
			</div>
		</div>
		<!-- Bottom Toolbar-->
		<div class="toolbar">
		  <div class="toolbar-inner">
			<!-- Toolbar links -->
			<a href="#" class="link">10km以内</a>
		  </div>
		</div>
	</div>
</div>

