<div class="pages">
    <div class="page">
        <div class="page-content">
            <div class="cinemadetail">
                <div class="list-block media-list">
                    <div class="item-content">
                        <div class="item-media radius"><img src="images/i-f7-material.png" width="88"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">马里奥影吧</div>
                            </div>

                            <div class="item-text">★★★★☆ 4.5</div>
                        </div>
                    </div>

                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div><i class="f7-icons">info</i>上海市浦慈善街85号</div>
                                <div class="icon split"><i class="f7-icons">phone</i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-block">
                <div class="content-block-inner">
                    <h2>详情介绍</h2>
                    <p>本专辑海报是新城海的所有作品.新城海的最新作品你的名字。将于8月26日在日本上映，受到了不少漫迷的期待。有人说新城海是下一个宫崎骏，但是我觉得，新城海就是
                        新城海。他的作品用另外一种方式走进了我们内心，让我们被那些平淡的真实所感动。<br>
                        新作即将到来之际，让我们一起来回顾一下新城海之前的做作品吧<br><br></p>
                </div>

                <div class="content-block-inner">
                    <a href="#" class="button searchmoviebutton">查看片库</a>
                </div>

            </div>
        </div>
    </div>
</div>

