
	<div data-page="cinema" class="page">

		<!-- Search bar -->
		<form class="searchbar searchbar-init">
            <div >
                <p><a href="#" class="button" style="margin-right:10px;background-color:white;border-color:white">上海 <i class="icon icon-chevron_down"></i></a></p>
            </div>
            <div class="searchbar-input  cinemapopup">
                <input type="search" placeholder="搜索影吧" readonly>
                <a href="#" class="searchbar-clear"></a>
            </div>
		</form>

		<div class="page-content infinite-scroll">
			<div class="list-block media-list searchbar-found">
				<div class="list-group cinema-group">
					<ul>

					</ul>
				</div>
			</div>
			<!-- 加载提示符 -->
			<div class="infinite-scroll-preloader">
				<div class="preloader"></div>
			</div>
			<input id="pageSize" name="pageSize" type="hidden" value="0"/>
			<input id="totalPage" name="totalPage" type="hidden" value="1"/>
			<div class="content-block searchbar-not-found" style="display: none;">
				Nothing found
			</div>
		</div>
		<!-- Bottom Toolbar-->
		<!--<div class="toolbar">-->
			<!--<div class="toolbar-inner">-->
				<!--&lt;!&ndash; Toolbar links &ndash;&gt;-->
				<!--<a href="#" class="link">10km以内</a>-->
			<!--</div>-->
		<!--</div>-->
	</div>

