<div data-page="lcation" class="page">
        <div class="page-content contacts-content">
            <div class="list-block contacts-block">
                <div class="list-group">
                    <ul>
                        <li class="list-title">当前城市</li>
                        <li class="list-group-title" style="display: none"></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海 </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul>
                        <li class="list-title">热门城市</li>
                        <li class="list-group-title" style="display: none"></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">重庆</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul>
                        <li class="list-title">所有城市</li>
                        <li class="list-group-title">A</li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">重庆</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul>
                        <li class="list-group-title">A</li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">重庆</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="list-group">
                    <ul>
                        <li class="list-title">所有城市</li>
                        <li class="list-group-title">A</li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">重庆</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="list-group">
                    <ul>
                        <li class="list-group-title">b</li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上海</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">重庆</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="list-index"></ul>
</div>

