<!-- Right panel with cover effect-->
<div class="panel panel-right panel-cover" style="background: gray;opacity: 0.7">
    <div class="content-block-title col-20 filter-title">排序</div>
    <div class="content-block">
        <div class="row">
            <div class="col-20"><a href="#" class="button filter"><b>新上架</b></a></div>
            <div class="col-20"><a href="#" class="button filter">最热门</a></div>
            <div class="col-20"><a href="#" class="button filter">好评榜</a></div>
        </div>
    </div>

    <div class="content-block-title col-20 filter-title">类型</div>
    <div class="content-block">
        <div class="row">
            <div class="col-20"><a href="#" class="button filter"><b>全部</b></a></div>
            <div class="col-20"><a href="#" class="button filter">爱情</a></div>
            <div class="col-20"><a href="#" class="button filter">喜剧</a></div>
            <div class="col-20"><a href="#" class="button filter">科幻</a></div>
            <div class="col-20"><a href="#" class="button filter">动画</a></div>
        </div>
        <div class="row">
            <div class="col-20"><a href="#" class="button filter">动作</a></div>
            <div class="col-20"><a href="#" class="button filter">犯罪</a></div>
            <div class="col-20"><a href="#" class="button filter">悬疑</a></div>
            <div class="col-20"><a href="#" class="button filter">剧情</a></div>
            <div class="col-20"><a href="#" class="button filter">玄幻</a></div>
        </div>
    </div>

    <div class="content-block-title col-20 filter-title">地区</div>
    <div class="content-block">
        <div class="row">
            <div class="col-20"><a href="#" class="button filter"><b>全部</b></a></div>
            <div class="col-20"><a href="#" class="button filter">中国大陆</a></div>
            <div class="col-20"><a href="#" class="button filter">香港</a></div>
            <div class="col-20"><a href="#" class="button filter">台湾</a></div>
            <div class="col-20"><a href="#" class="button filter">韩国</a></div>
        </div>
        <div class="row">
            <div class="col-20"><a href="#" class="button filter">美国</a></div>
            <div class="col-20"><a href="#" class="button filter">日本</a></div>
            <div class="col-20"><a href="#" class="button filter">泰国</a></div>
            <div class="col-20"><a href="#" class="button filter">英国</a></div>
            <div class="col-20"><a href="#" class="button filter">法国</a></div>
        </div>
        <div class="row">
            <div class="col-20"><a href="#" class="button filter">德国</a></div>
        </div>
    </div>
    <div class="footer">
        <div style="padding: 10px">
            <a href="#" class="button" style="background: white">完成</a>
        </div>
    </div>

</div>
<!-- Views-->
<div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main" data-page="index">

        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages">
            <div data-page="list" class="page">
                <!-- Search bar -->
                <form class="searchbar" data-search-list=".contacts-list" data-search-in=".item-title">
                    <div class="searchbar-input">
                        <input type="search" placeholder="搜索影吧">
                        <a href="#" class="searchbar-clear"></a>
                    </div>
                    <a href="#" class="searchbar-cancel" style="margin-right: -52.925px;">Cancel</a>
                </form>

                <div class="page-content">
                    <div class="list-block media-list searchbar-found">
                        <div class="list-group cinema-group">
                            <ul>
                                <li data-id="03d02413-790d-4cce-891f-61f249cb642b">
                                    <a href="contact.html?id=03d02413-790d-4cce-891f-61f249cb642b">
                                        <div class="item-content">
                                            <div class="item-media"><img src="img/1.jpg" width="70" height="120"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">帝国的毁灭</div>
                                                    <div class="item-after"><b style="color: gold">8.6</b></div>
                                                </div>
                                                <div class="item-subtitle">
                                                    <div style="margin-top: 10%">导演：林大雄</div>
                                                    <div style="width: 80%">主演：黎明 耿乐 韩彩英</div>
                                                    <div class="kinddiv">
                                                        <span class="kind">悬疑</span>
                                                        <span class="kind">中国大陆</span>
                                                        <span class="kind">2016</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li data-id="03d02413-790d-4cce-891f-61f249cb642b">
                                    <a href="contact.html?id=03d02413-790d-4cce-891f-61f249cb642b">
                                        <div class="item-content">
                                            <div class="item-media"><img src="img/1.jpg" width="70" height="120"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">帝国的毁灭</div>
                                                    <div class="item-after"><b style="color: gold">8.6</b></div>
                                                </div>
                                                <div class="item-subtitle">
                                                    <div style="margin-top: 10%">导演：林大雄</div>
                                                    <div style="width: 80%">主演：黎明 耿乐 韩彩英</div>
                                                    <div class="kinddiv">
                                                        <span class="kind">悬疑</span>
                                                        <span class="kind">中国大陆</span>
                                                        <span class="kind">2016</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li data-id="03d02413-790d-4cce-891f-61f249cb642b">
                                    <a href="contact.html?id=03d02413-790d-4cce-891f-61f249cb642b">
                                        <div class="item-content">
                                            <div class="item-media"><img src="img/1.jpg" width="70" height="120"></div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">帝国的毁灭</div>
                                                    <div class="item-after"><b style="color: gold">8.6</b></div>
                                                </div>
                                                <div class="item-subtitle">
                                                    <div style="margin-top: 10%">导演：林大雄</div>
                                                    <div style="width: 80%">主演：黎明 耿乐 韩彩英</div>
                                                    <div class="kinddiv">
                                                        <span class="kind">悬疑</span>
                                                        <span class="kind">中国大陆</span>
                                                        <span class="kind">2016</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>



                            </ul>


                        </div>
                    </div>
                    <div class="content-block searchbar-not-found" style="display: none;">
                        Nothing found
                    </div>


                </div>

            </div>

        </div>
        <!-- Bottom Toolbar-->

    </div>
</div>
<!-- Template7 templates-->
<script type="text/template7" id="about">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
            <div class="center sliding">About Me</div>
            <div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
        </div>
    </div>
    <div class="pages">
        <div data-page="about" class="page">
            <div class="page-content">
                <div class="content-block">
                    <div class="content-block-inner">
                        <p>Hello, my name is {{name}}. I am {{age}} years old and i am working as {{position}} at {{company}}.</p>
                        <p>I have a lot of interests: {{#if interests}}{{join interests delimeter=", "}}{{/if}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>